:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --dark-bg-color: #2f303a;
  --button-bg-color: #f5f4fa;
  --secondary-bg-color: #f5f4fa;
}

/*                     RESET                 */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

/*                     COMMON                 */

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
}

.logo {
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.title {
  color: var(--title-text-color);
}

.section-title {
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  text-align: center;

  margin-bottom: 50px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.button {
  border: none;
  font-family: inherit;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-item {
  height: 44px;
  width: 44px;
}

.social-item + .social-item {
  margin-left: 10px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

/*                     HEADER                 */

.header {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
}

.header-logo {
  margin-right: 93px;
}

.header-logo .logo-item {
  color: #000000;
}

.header-nav,
.header-contacts {
  display: flex;
  align-items: center;
}

.header-contacts {
  margin-left: auto;
}

.header-list {
  display: flex;
}

.header-nav .link.current {
  color: var(--accent-color);
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts-item:first-child {
  margin-right: 50px;
}

.contacts-link {
  color: inherit;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.contacts-item-icon {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.contacts-icon {
  fill: currentColor;
}

/*                     HERO                 */

.hero {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;

  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-bottom: 30px;
}

.button.primary {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.button.secondary {
  color: var(--title-text-color);
  background-color: var(--button-bg-color);
}

.button.secondary:focus,
.button.secondary:hover {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.hero-button {
  margin: 0 auto;
  padding: 10px 32px;

  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/*                     FEATURES                 */

.features-list {
  display: flex;
}

.features-item {
  width: 270px;
}

.features-item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  width: 100%;
  height: 120px;
  background-color: var(--secondary-bg-color);
}

.features-icon {
  width: 70px;
  height: 70px;
}

.features-item:not(:last-child) {
  margin-right: 30px;
}

.features-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/*                     SERVICES                 */

.services {
  padding-top: 0;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
}

.services-item {
  width: 370px;
  margin-right: 30px;
}

.services-item:nth-child(3n) {
  margin-right: 0;
}

/*                     TEAM                 */

.team {
  background-color: var(--secondary-bg-color);
}

.team-list {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  display: flex;
  flex-wrap: wrap;
}

.team-item {
  width: 270px;
  margin-right: 30px;

  background: #ffffff;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-item:nth-child(4n) {
  margin-right: 0;
}

.wrap-team-name {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-item-title {
  font-size: inherit;
  font-weight: 500;

  margin-bottom: 10px;
}

.team-item-text {
  margin-bottom: 16px;
}

.team-social-link {
  background-color: var(--primary-white-color);
  color: #afb1b8;
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.team-social-icon {
  height: 20px;
  width: 20px;
  fill: currentColor;
}

/*                     CLIENTS                 */

.clients-list {
  display: flex;
}

.clients-item {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.clients-icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
}

.clients-item:hover,
.clients-item:focus-within {
  border-color: var(--accent-color);
}

.clients-item:hover .clients-icon,
.clients-item:focus-within .clients-icon {
  fill: var(--accent-color);
}

/*                     PORTFOLIO                 */

/*                     BUTTONS                   */

.filter-list {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-button {
  padding: 6px 22px;

  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;

  border-radius: 4px;
}

/*                     PROJECTS                   */

.projects-list {
  display: flex;
  flex-wrap: wrap;
}

.projects-item {
  width: 370px;
  margin-right: 30px;
}

.projects-item:hover,
.projects-item:focus-within {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-item:nth-child(3n) {
  margin-right: 0;
}

.projects-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.wrap-project-info {
  padding: 20px 24px;

  background: #ffffff;
  border: 1px solid #eeeeee;
}

.projects-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.projects-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

/*                     FOOTER                    */

.footer {
  background-color: var(--dark-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .container {
  display: flex;
}

.footer-left {
  margin-right: 70px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer .logo-item {
  color: var(--primary-white-color);
}

.footer-link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-style: normal;
  text-decoration: none;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.footer-list .adress {
  color: var(--primary-white-color);
}

.footer-list .link:hover,
.footer-list .link:focus {
  color: var(--accent-color);
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-social {
  padding-top: 12px;
}

.footer-social-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-social-link {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--primary-white-color);
}

.footer-social-icon {
  height: 20px;
  width: 20px;
  fill: currentColor;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}
